.container__fastest-lap {
    width: 500px;
    height: 60px;
    right: 100px;
    bottom: 50px;
    position: absolute;
    background-color: #ebebeb;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    border: 2px solid rgb(204, 204, 204);
    
    .top {
        top: 0;
        position: absolute;
        height: 30px;
        width: auto;
        left: 0;
        right: 0;
        z-index: 2;
        box-shadow: 0px 4px 6px -6px #333;
        line-height: 30px;

        .driver {
            left: 15px;
            position: absolute;
        }

        .fastestLap {
            right: 15px;
            position: absolute;
            color: #ff00ff;
        }
    }

    .bottom {
        bottom: 0;
        position: absolute;
        height: 30px;
        width: auto;
        left: 0;
        right: 0;
        z-index: 1;
        line-height: 30px;

        .team {
            left: 15px;
            position: absolute;
            font-weight: 400;
            font-size: 21px;
        }

        .lap {
            right: 15px;
            position: absolute;
        }
    }
}