.container__session-banner {
    width: 250px;
    left: 100px;
    top: 50px;
    position: absolute;
    background-color: rgba(240, 39, 13, 0.9);
    color: #FFF;
    font-size: 24px;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    border: 2px solid rgb(204, 204, 204);
}