.container__session-banner {
    width: 275px;
    left: 100px;
    top: 50px;
    position: absolute;
    background-color: #f0270d;
    color: #FFF;
    font-size: 22px;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    border: 2px solid rgb(204, 204, 204);
}