<div class="container__driver" *ngIf="driver != null">
    <div class="main">
        <div class="driver__position">
            {{ driver.position }}
        </div>
    
        <div class="driver__info">
            <div class="info__details">
                <p class="details__name">{{ driver.driverName | driverName:'full'}}</p>
                <p class="details__team">{{ driver.carClass }}</p>
    
                <div class="details__flag">
                    <img src="{{ driver.flag }}">
                </div>
            </div>

            <div class="info__timing">

                <!-- Sector info -->
                <div class="row" *ngIf="_mode === 'FASTEST_GAP'">
                    <div class="sector" [ngClass]="_getSectorClass(driver, 1)">
                        <span class="sector__number">S1</span>
                        <span class="sector__time">
                            <span *ngIf="driver.lastLapHold; else currentS1">
                                {{ driver.lastLapHold.lastLap.sector_1 | toMinutes:true }}
                            </span>
                            <ng-template #currentS1>
                                {{ (driver.currentSectorTime1 !== -1) ? (driver.currentSectorTime1 | toMinutes:true) : '' }}
                            </ng-template>
                        </span>
                    </div>
                    <div class="sector" [ngClass]="_getSectorClass(driver, 2)">
                        <span class="sector__number">S2</span>
                        <span class="sector__time">
                            <span *ngIf="driver.lastLapHold; else currentS2">
                                {{ driver.lastLapHold.lastLap.sector_2 | toMinutes:true }}
                            </span>
                            <ng-template #currentS2>
                                {{ (driver.currentSectorTime2 !== -1) ? (driver.currentSectorTime2 - driver.currentSectorTime1 | toMinutes:true) : '' }}
                            </ng-template>
                        </span>
                    </div>
                    <div class="sector" [ngClass]="_getSectorClass(driver, 3)">
                        <span class="sector__number">S3</span>
                        <span class="sector__time" *ngIf="driver.lastLapHold">
                            {{ driver.lastLapHold.lastLap.sector_3 | toMinutes:true }}
                        </span>
                    </div>
                </div>

                <!-- Position gap info -->
                <div class="row" *ngIf="_mode === 'POSITION_GAP'">
                    <div class="gap">
                        <span class="gap__title">Ahead</span>
                        <span class="gap__value" *ngIf="driver.position !== 1">{{ driver.timeBehindNext | toMinutes:true }}</span>
                    </div>
                    <div class="gap">
                        <span class="gap__title">Behind</span>
                        <span class="gap__value">{{ _getGapBehind() | toMinutes:true }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="secondary">
        <div class="data-key">Best</div>
        <div class="data-value">{{ driver.bestLapTime | toMinutes:true }}</div>
        <div class="data-key">Last Lap</div>
        <div class="data-value">
            {{ (driver.lastLapTime !== -1) ? (driver.lastLapTime | toMinutes:true) : 'NA' }}
        </div>
        <div class="data-key">
            {{ _mode === 'FASTEST_GAP' ? 'Gap' : 'Stops' }}
        </div>
        <div class="data-value" *ngIf="_mode === 'FASTEST_GAP'">
            <span *ngIf="driver.lastLapHold; else currentGap"
                [style.color]="_getSectorColour(driver.lastLapHold.state)">
                {{ driver.lastLapHold.gap }}
            </span>

            <div [ngSwitch]="driver.gapEvent">
                <ng-template #currentGap>
                    <span *ngSwitchCase="null">-</span>
                    <span *ngSwitchDefault [style.color]="_getSectorColour(driver.gapEvent.state)">
                        {{ driver.gapEvent.gap }}
                    </span>
                </ng-template>
            </div>
        </div>
        <div class="data-value" *ngIf="_mode === 'POSITION_GAP'">
            {{ driver.pitstops }}
        </div>
    </div>
</div>