.container__fastest-sector {
    width: 200px;
    height: 96px;
    right: 100px;
    top: 200px;
    position: absolute;
    background-color: #ebebeb;
    color: black;
    border-radius: 10px;
    border: 2px solid rgb(204, 204, 204);
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.9;
    
    .top {
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #4e4e4e;
        border-radius: 10px 10px 0px 0px;


        .fastest-sector {
            text-transform: uppercase;
            color: white;
        }
    }

    .middle {
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        .driver {
            text-transform: uppercase;
        }

    }

    .bottom {
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ff00ff;
        color: white;
        border-radius: 0px 0px 10px 10px;
    }
}