<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>

<div class="container__session-flags yellow" *ngIf="yellowFlagActive === true" [@simpleFadeAnimation]="'in'">
  <div class="flag_content"  *ngIf="yellowFlagActive === true && sectorsYellow?.length > 0">
    <i class="fas fa-flag flag-icon-left"></i> <i class="fas fa-flag flag-icon"></i>
    SECTOR {{ this.yellowSectorsList() }}
</div>
</div>

<div
  class="container__session-flags green"
  *ngIf="_showTrackGreen" [@simpleFadeAnimation]="'in'">
  <div class="flag_content">
    <i class="fas fa-flag flag-icon-left"></i> <i class="fas fa-flag flag-icon"></i>
    TRACK CLEAR
  </div>
</div>


