
<div *ngIf="theme === 'default'">
    <app-banner [sessionData]="data?.session_info" [standings]="data?.standings"></app-banner>
    <app-sector-flags [sessionData]="data?.session_info" [sectorFlags]=data?.sector_flags></app-sector-flags>
    <app-tower [sessionData]="data?.session_info" [standings]="data?.standings"></app-tower>
    <app-onboard [driver]="data?.focused_driver" [raceSession]="data?.session_info?.session" [standings]="data?.standings"></app-onboard>
    <app-fastestlap [fastestLap]="data?.overall_best_lap" [sessionData]="data?.session_info" [standings]="data?.standings"></app-fastestlap>
</div>

<div *ngIf="theme === 'endurance'">
    <app-banner-endurance [sessionData]="data?.session_info"></app-banner-endurance>
    <app-tower-endurance [standings]="data?.standings"></app-tower-endurance>
    <app-onboard-endurance [driver]="data?.focused_driver"></app-onboard-endurance>
</div>

<!-- Testing -->
<!-- <div style="position: absolute; right: 0; top: 0; background-color: white; font-size: 15px; max-width: 600px;">
    <pre>{{ data?.overall_best_lap | json }}</pre>
    <span *ngIf="data?.focused_driver != null">
        <pre>{{ data?.focused_driver | json }}</pre>
    </span>
</div> -->