.container__driver {
    position: absolute;
    left: 100px;
    bottom: 50px;

    .main {
        margin-bottom: 4px;

        .driver__position {
            width: 120px;
            background-color: rgba(240, 39, 13, 0.9);;
            color: #FFF;
            font-size: 75px;
            text-align: center;
            border-radius: 10px;
            border: 3px solid #FFF;
            padding: 8px 0;
            float: left;
            margin-right: 3px;
        }

        .driver__info {
            display: inline-block;
            width: 400px;

            .info__details {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-color: rgba(226, 224, 222, 0.9);
                display: inline-block;
                width: 100%;
                margin-bottom: 2px;
                position: relative;

                .details__name {
                    margin: 8px 0 0 18px;
                    font-weight: bold;
                    font-size: 26px;
                }

                .details__team {
                    margin: 0 0 8px 18px;
                    font-weight: normal;
                    font-size: 21px;
                }

                .details__flag {
                    position: absolute;
                    top: 0;
                    right: 0;

                    img {
                        border-top-right-radius: 10px;
                        height: 76px;
                    }
                }
            }

            .info__sectors {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: rgba(226, 224, 222, 0.952);
                display: inline-block;
                width: 100%;
                height: 39px;

                .sectors__row {
                    margin: 6px 22px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .sector {
                        font-size: 18px;
                        //font-weight: normal;
                        flex-basis: 26%;
                        border-radius: 5px;
                        padding-left: 5px;
                        line-height: 24px;

                        &--down {
                            background: linear-gradient(to right, #ff0000 0%, transparent 60%);
                        }

                        &--pb {
                            background: linear-gradient(to right, #4fa218 0%, transparent 60%);
                        }

                        &--sb {
                            background: linear-gradient(to right, #ff00ff 0%, transparent 60%);
                        }

                        &__time {
                            float: right;
                        }
                    }
                }
            }
        }
    }

    .secondary {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        line-height: 26px;
        width: 100%;

        > div {
            flex-basis: 16.6%;
            text-align: center;

            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            &.data-key {
                background-color: rgba(255, 255, 255, 0.9);
            }

            &.data-value {
                background-color: rgba(226, 224, 222, 0.712);
            }
        }


    }
}
