<div class="container__session-banner">
    {{ session?.session | sessionName:'abbreviated'}}
    /
    {{ (session?.endEventTime - session?.currentEventTime) | toMinutes }}
</div>

<div class="container__standings">
    <div class="entry" *ngFor="let entry of standings">
        <div class="entry__position">
            {{ entry.position }}
        </div>
        <div class="entry__colour"></div>
        <div class="entry__driver">
            {{ entry.driverName | driverName:'abbreviated' }}
        </div>
        <div class="entry__gap" *ngIf="entry.bestLapTime !== -1">
            <span *ngIf="entry.position === 1">
                {{ entry.bestLapTime | toMinutes:true }}
            </span>
            <span *ngIf="entry.position > 1">
                +{{ entry.gapToLeader }}
            </span>
        </div>
        <div class="entry__pit" *ngIf="entry.pitting">
            PIT
        </div>
    </div>
</div>

<div class="container__driver" *ngIf="focusedEntry != null">
    <div class="main">
        <div class="driver__position">
            {{ focusedEntry.position }}
        </div>
    
        <div class="driver__info">
            <div class="info__details">
                <p class="details__name">{{ focusedEntry.driverName | driverName:'full'}}</p>
                <p class="details__team">{{ focusedEntry.carClass }}</p>
    
                <div class="details__flag">
                    <img src="assets/flag_uk.png">
                </div>
            </div>
            <div class="info__sectors">
                <div class="sectors__row">
                    <div class="sector sector--first">
                        <span class="sector__number">S1</span>
                        <span class="sector__time">24.508</span>
                    </div>
                    <div class="sector sector--second">
                        <span class="sector__number">S2</span>
                        <span class="sector__time">24.508</span>
                    </div>
                    <div class="sector sector--third">
                        <span class="sector__number">S3</span>
                        <span class="sector__time">24.508</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="secondary">
        <div class="data-key">Best</div>
        <div class="data-value">1:29.074</div>
        <div class="data-key">Gap</div>
        <div class="data-value">-0.000</div>
        <div class="data-key">Time</div>
        <div class="data-value">0:31.422</div>
    </div>
</div>