.container__standings {
    width: 250px;
    left: 100px;
    top: 105px;
    position: absolute;

    .entry {
        background-color: #e6e6e6;
        border-radius: 4px;
        width: 100%;
        border: 2px solid #cccccc;
        position: relative;

        &:nth-child(odd) {
            background: #fbfbfb;
        }

        &__position {
            padding: 2px 0;
            display: inline-block;
            border-radius: 4px;
            width: 33px;
            text-align: center;
            background-color: #f0270d;
            color: rgb(240, 240, 240);

            &--elim {
                background-color: #861000;
            }
        }

        &__colour {
            display: inline-block;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            margin: 0 5px;
            border: 1px solid #7c7c7c;
        }

        &__driver {
            display: inline-block;
            line-height: 30px;
            text-transform: uppercase;
        }

        &__gap {
            float: right;
            line-height: 30px;
            padding-right: 6px;
        }

        &__pit {
            position: absolute;
            left: 100%;
            top: 0;
            padding: 1px 4px;
            height: 30px;
            background-color: inherit;
            color: #f0270d;
        }
    }
}