.container__standings {
    width: 270px;
    left: 100px;
    top: 105px;
    transition: top 0.5s linear;
    position: absolute;
    opacity: 0.90;

    .entry {
        background-color: #e6e6e6;
        border-radius: 4px;
        width: 100%;
        border: 2px solid #cccccc;
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 5px;

        &:nth-child(odd) {
            background: #fbfbfb;
        }

        &--DNF {
            opacity: 0.5;
        }

        &__position {
            flex: 0 0 33px;
            padding: 2px 0;
            display: inline-block;
            border-radius: 4px;
            text-align: center;
            background-color: #f0270d;
            color: rgb(240, 240, 240);

            &--elim {
                background-color: #861000;
            }

            &--DNF {
                visibility: hidden;
            }

            &--pits {
                background-color: #f0270da3;
            }
        }

        &__colour {
            flex: 0 0 13px;
            height: 13px;
            border-radius: 50%;
            margin: 0 8px;
            border: 1px solid #7c7c7c;
        }

        &__driver {
            flex: 1;
            line-height: 30px;
            text-transform: uppercase;
        }

        &__gap {
            flex: 1;
            line-height: 30px;
            text-align: right;
            padding-right: 8px;
        }
        
        &__pit {
            @extend .entry__gap;
            color: #f0270d;
        }

        &__tyre {
            flex: 0 0 25px;
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }
        }
    }
}

.container__standings_flags {
    top: 130px !important;
    transition: top 0.5s linear;
}