 <div [ngClass]="{container__standings_flags: notification === 'Active'}" class="container__standings">
    <div class="entry" [ngClass]="_dnfStatusClass(entry)" *ngFor="let entry of (_session == 'QUALIFY1' ? (standings | slice:0:10) : (standings | slice:0:20))">
        <div class="entry__position" [ngClass]="_positionClass(entry)">
            {{ entry.position }}
        </div>
        <div class="entry__colour" [ngStyle]="{'background-color': entry.colour}"></div>
        <div class="entry__driver">
            {{ entry.driverName | driverName: (mode === 'BASIC' ? 'last' : 'abbreviated') }}
        </div>

        <!-- Gap to fastest -->
        <div class="entry__gap" *ngIf="mode === 'FASTEST_LAP_GAP'">
            <ng-container
                *ngIf="entry.runLaps === 0 && !entry.pitting; then outLap; else getTime">
            </ng-container>

            <ng-template #outLap>
                <span>OUT LAP</span>
            </ng-template>
            <ng-template #getTime>
                <!-- lap time set -->
                <span *ngIf="entry.bestLapTime !== -1">
                    {{ entry.position > 1 ? entry.gapToLeader : (entry.bestLapTime | minutesAndSeconds:true:false) }}
                </span>
                <!-- not standing -->
                <span *ngIf="entry.bestLapTime === -1">NO TIME</span>
            </ng-template>
        </div>

        <!-- Gap to leader -->
        <div class="entry__gap" *ngIf="mode === 'GAP_TO_LEADER' && _shouldShowTiming(entry)">
            <span *ngIf="entry.position === 1">
                Leader
            </span>
            <span *ngIf="entry.position > 1">
                <span *ngIf="entry.lapsBehindLeader > 0">
                    +{{entry.lapsBehindLeader }} Laps
                </span>
                <span *ngIf="entry.lapsBehindLeader == 0">
                    {{ entry.timeBehindLeader | secondsConvert:true }}
                </span>
            </span>
        </div>

        <!-- Interval -->
        <div class="entry__gap" *ngIf="mode === 'GAP_TO_NEXT' && _shouldShowTiming(entry)">
            <span *ngIf="entry.position === 1">
                Interval
            </span>
            <span *ngIf="entry.position > 1">
                <span *ngIf="entry.lapsBehindNext > 0">
                    +{{entry.lapsBehindNext }} Laps
                </span>
                <span *ngIf="entry.lapsBehindNext == 0">
                    {{ entry.timeBehindNext | secondsConvert:true }}
                </span>
            </span>
        </div>

        <div *ngIf="_showDNFStatus(entry)" class="entry__gap">
            DNF
        </div>

        <!-- Tyre -->
        <div *ngIf="entry.tyreCompound && !_showDNFStatus(entry)" class="entry__tyre">
            <img src="{{ _getTyreImage(entry) }}" />
        </div>

        <!-- PIT graphic -->
        <div *ngIf="entry.pitting && !_showDNFStatus(entry)" class="entry__pit" >
            PIT
        </div>
    </div>
</div>