<div class="container__standings">
    <div class="entry" *ngFor="let entry of standings | slice:0:20">
        <div class="entry__position" [ngClass]="_positionClass(entry.raw.position)">
            {{ entry.raw.position }}
        </div>
        <div class="entry__colour" [ngStyle]="{'background-color': entry.colour}"></div>
        <div class="entry__driver">
            {{ entry.raw.driverName | driverName: (mode === 'BASIC' ? 'last' : 'abbreviated') }}
        </div>
        <div class="entry__gap" *ngIf="mode === 'FASTEST_LAP_GAP' && entry.raw.bestLapTime !== -1">
            <span *ngIf="entry.raw.position === 1">
                {{ entry.raw.bestLapTime | minutesAndSeconds:true:false }}
            </span>
            <span *ngIf="entry.raw.position > 1">
                {{ entry.gapToLeader }}
            </span>
        </div>

        <!-- Gap to leader -->
        <div class="entry__gap" *ngIf="mode === 'GAP_TO_LEADER' && _shouldShowTiming(entry)">
            <span *ngIf="entry.raw.position === 1">
                Leader
            </span>
            <span *ngIf="entry.raw.position > 1">
                <span *ngIf="entry.raw.lapsBehindLeader > 0">
                    +{{entry.raw.lapsBehindLeader }} Laps
                </span>
                <span *ngIf="entry.raw.lapsBehindLeader == 0">
                    {{ entry.raw.timeBehindLeader | secondsConvert:true }}
                </span>
            </span>
        </div>

        <!-- Interval -->
        <div class="entry__gap" *ngIf="mode === 'GAP_TO_NEXT' && _shouldShowTiming(entry)">
            <span *ngIf="entry.raw.position === 1">
                Interval
            </span>
            <span *ngIf="entry.raw.position > 1">
                <span *ngIf="entry.raw.lapsBehindNext > 0">
                    +{{entry.raw.lapsBehindNext }} Laps
                </span>
                <span *ngIf="entry.raw.lapsBehindNext == 0">
                    {{ entry.raw.timeBehindNext | secondsConvert:true }}
                </span>
            </span>
        </div>

        <!-- PIT graphic -->
        <div class="entry__pit" *ngIf="entry.raw.pitting">
            PIT
        </div>
    </div>
</div>