body {
    background-color: green;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    position: relative;
    font-weight: bold;
    letter-spacing: 0.6px;
    height: 1080px;
    margin: 0;
}