.container__standings {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
    background: linear-gradient(#661b1b ,#4c1414);
    border-top: 2px solid #b8b8b8;
    border-bottom: 35px solid #000;

    .container__entries {
        width: 92%;
        margin: 0 auto;
        height: 100%;
        display: flex;
    }

    .entry {
        display: flex;
        width: 20%;
        height: 100%;
        position: relative;

        &__position {
            flex: 0 0 18%;
            height: 75px;
            line-height: 73px;
            font-size: 56px;
            background-color: #000;
            color: #FFF;
            text-align: center;
            border-right: 9px solid #FFF;
        }

        &__info {
            flex-grow: 1;
            flex-shrink: 0;
            color: #FFF;
            max-width: 300px;
            font-weight: normal;
            padding: 4px 0 4px 14px;
            font-size: 20px;
            position: relative;
            overflow: hidden;

            .name {
                margin-bottom: 7px;
                text-overflow: clip;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
            }

            .gap {
                font-size: 23px;
            }

            .team-number {
                font-family: 'Krona One', sans-serif;
                font-weight: bold;
                position: absolute;
                right: 15px;
                bottom: 0px;
                font-size: 32px;
            }
        }

        &__extra {
            position: absolute;
            color: #FFF;
            bottom: -27px;
            left: 5px;
            font-size: 17px;

            .stops {
                font-weight: normal;
                margin-right: 10px;
            }
        }
    }
}