.container__standings {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
    height: 75px;
    background: linear-gradient(#661b1b ,#4c1414);
    border: 2px solid #b8b8b8;
    border-left: none;
    border-right: none;

    .container__entries {
        width: 92%;
        margin: 0 auto;
        height: 100%;
        display: flex;
    }

    .entry {
        display: flex;
        width: 20%;
        height: 100%;

        &__position {
            flex: 0 0 75px;
            height: 100%;
            line-height: 73px;
            font-size: 60px;
            background-color: #000;
            color: #FFF;
            text-align: center;
            border-right: 7px solid #FFF;
        }

        &__info {
            flex-grow: 1;
            color: #FFF;
            font-weight: normal;
            padding: 5px 16px;
            font-size: 25px;
            position: relative;

            .name {
                margin-bottom: 3px;
            }

            .gap {
                font-size: 23px;
            }

            .team-number {
                font-family: 'Krona One', sans-serif;
                font-weight: bold;
                position: absolute;
                right: 20px;
                bottom: 5px;
                font-size: 35px;
            }
        }
    }
}