<div class="container__standings">
    <div class="container__entries">
        <div class="entry" *ngFor="let entry of entriesToShow">
            <div class="entry__position" [style.border-color]="entry.colour">{{ entry.position }}</div>
            <div class="entry__info">
                <div class="name">{{ entry.vehicleName }}</div>
                <div class="gap">
                    <span *ngIf="entry.position === 1">Interval</span>
                    <span *ngIf="entry.position > 1 && entry.lapsBehindNext > 0">+{{entry.lapsBehindNext }} Laps</span>
                    <span *ngIf="entry.position > 1 && entry.lapsBehindNext === 0">{{ entry.timeBehindNext | secondsConvert:true }}</span>
                </div>
                <div class="team-number">{{ entry.car_number }}</div>
            </div>
        </div>
    </div>
</div>